<!doctype html>
<html>
  <head>
  	<title>Node Authentication</title>
  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  	<style>
  		body 		{ padding-top:80px; }
  	</style>
  </head>

  <body>
  	<div class="container">
  		<div class="row">
    			<div class="col-md-6">
            <ul class="nav">
              <li class="active"><a href="profile">Profile</a></li>
              <li><a href="myCampain">Campain</a></li>
              <li><a href="campain">My Campain</a></li>
            </ul>
          </div>
  			
    			<div class="col-md-4">
    			</div>
    			<div class="col-md-1">
              
    			</div>
    			<div class="col-md-1">
    			    	<a href="/logout" class="btn btn-primary">Logout</a>
    			</div>
  		</div>
    </div>

    <div class="container">

            <h3 class="text-primary"><span class="fa fa-instagram"></span> Instagram</h3>
            <p> 
                <strong>id</strong>: <%= user.u_id %><br>
                <strong>token</strong>: <%= user.token %><br>
                <strong>username</strong>: <%= user.username %><br>
                <strong>followers</strong>: <%= user.followersCount %><br>
                <strong>following</strong>: <%= user.followingCount %><br>
                <img src="<%= user.profilePictureUrl %>" />
              </p>
    </div>
  </body>
</html>